



.card-degrade {
/* background: linear-gradient(top, #f2f4f8, #fff); */
background: -prefix-linear-gradient(top, #f2f4f8 30%, white); 
background: linear-gradient(to bottom, #f2f4f8 30%, white);
border: 0px;	
}

.card-blank {
border: 0px;	
background-color: #f2f4f8;
}
  
   
    
    
header.navbar .navbar-brand {
    display: inline-block;
    width: 250px;
    height: 60px;
    margin-right: 0;
    padding: 0.5rem 1rem;
    background-color: #fabb3d;
    background-image: url(/itm/resources/template/img/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90px auto;
    border-bottom: 1px solid #fabb3d;
}


 .card-success-clean {
  background-color: rgba(232, 255, 221, 0.63);;
  border-color: #79c447; }
  .card-success-clean .card-header,
  .card-success-clean .card-footer {
    background-color: transparent ; }   

    
    
    .fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}




.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.menu>ul {
    list-style: none;
    padding-left: 500px;
}

.menu>li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 20px;
    display: inline-block;
}
.menu>li>a {
    color: #2a363f;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    padding: 10px 18px;
    
}

.menu>li>a:hover {
	text-decoration: none; 
    color: #f2d438;
}

.header {
    display: block;
    z-index: 9000!important;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 210px;
    padding-top: 25px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
}