.container {
    width: 1170px;
    margin: auto;
    margin-top: 220px;
}

.btn-primary {
    color: #000;
    background-color: #f2d438;
    border-color: #f2d438;
}

.btn-primary:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: #f2d438;
}

.card.bg-login {
    background-image: url(/resources/template/img/login.png);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid #e1e6ef !important;
}

.card-group {
    border: 1px solid #e1e6ef;
}


/* feature section 102 */
.site_titulos {
	float: left;
	width: 100%;
	padding: 90px 0px 90px 0px;
	text-align: center;
}
.site_titulos .plan {
	float: left;
	width: 100%;
	text-align: left;
	padding: 0px 0px 90px 0px;
}
.site_titulos .plan img {
	float: right;
}
.site_titulos .plan h1 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 200;
}
.site_titulos .plan h1 b {
	font-weight: 900;
}
.site_titulos .plan ul {
	float: left;
	padding: 0px;
	margin: 10px 0px 35px 0px !important;
}
.site_titulos .plan li {
	float: left;
	margin: 0px 20px 5px 0px;
}
.site_titulos .plan h2 strong {
	color: #86c724;
	font-size: 45px;
	font-weight: 900;
}

.site_titulos .plan.two {
	float: left;
	width: 100%;
	text-align: right;
	padding: 90px 0px 81px 0px;
	background: #eee;
}
.site_titulos .plan.two img {
	float: left;
}
.site_titulos .plan.two li {
	float: right;
}

.site_titulos .plan.three {
	padding: 90px 0px 0px 0px;
}

.site {}

.site p {
    font: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 23px;
}

.site .font {
    font: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 23px;
}

.site .fontlight {
    font: 13px 'Open Sans', sans-serif;
    font-weight: lighter;
    line-height: 22px;
}
.site .fontx1 {
    font: 13px 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 23px;
}

.nav-tabs .nav-link, .nav-tabs .navbar .dropdown-toggle, .navbar .nav-tabs .dropdown-toggle {
    color: #919191;
}


.tab-content .tab-pane {
    padding: 1rem 1rem 1rem 1rem;
    border: solid 1px #c0cadd;
    border-top: 0;
    margin: 0rem 1rem 0 1rem;
}

